{% extends 'base.html' %}

{% load static%}


{% block content %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="middle-content container-xxl p-0">

                    <div class="row layout-top-spacing">
                        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-chart-three">
                                <div class="widget-heading">
                                    <div class="">
                                        <h2>
                                            Tendering & Contracts and Technical Affairs
                                        </h2>
                                        <br>
                                        <p>
                                            is an App, for Tracking and Controls Tendrs and Projects Action
                                            <br>
                                                * Control
                                            <br>
                                                * Reports
                                            <br>
                                                * Analytics
                                            <br>
                                            <br>
                                            <br>
                                            By Mohamed Adel
                                        </p>
                                    </div>


                                    </div>
                                    
                                </div>

                                <div class="widget-content">
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->

{% endblock content %}

