{% load static%}
<link href="{% static 'login.css' %}" rel="stylesheet" type="text/css" />
<div class="wrapper">
        <div class="logo">
            <img src="/static/src/assets/img/rawaf.png" alt="">
            <br>
            <div class="text-center mt-4 name">
            المناقصات والعقود والشئون الفنية
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
            </div>
        </div>

        <form method="POST" action="" class="p-3 mt-3">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                {% comment %} <span class="far fa-user"></span> {% endcomment %}
                <input type="text" name="username" placeholder="اسم المستخدم">
            </div>
            <div class="form-field d-flex align-items-center">
                {% comment %} <span class="fas fa-key"></span> {% endcomment %}
                <input type="password" name="password" placeholder="الرقم السري">
            </div>
            <button class="btn mt-3">دخول</button>
        </form>

        <div class="text-center fs-6">

            أو 
            <br>

            <a href="{% url 'register_ar' %}">تسجيل</a>
            <br>
            <a href="{% url 'login' %}">English</a>
        </div>

    </div>
